flows/-> InfluxDB.json
[{"id":"1a5d2acb.25e845","type":"influxdb","z":"1060484f.2ded88","hostname":"influx","port":"8086","database":"test","name":""},{"id":"a02f798c.dcdf18","type":"influxdb out","z":"1060484f.2ded88","influxdb":"1a5d2acb.25e845","name":"Save to influx","measurement":"","x":771,"y":427,"wires":[]},{"id":"e58059bb.c4d8c8","type":"function","z":"1060484f.2ded88","name":"Convert values to floats","func":"if (msg.payload.time){\n    msg.payload.time = msg.payload.time * 1000.0;\n}\n\nfor (var key in msg.payload) {\n    msg.payload[key] = parseFloat(msg.payload[key])\n}\n\nmsg.measurement = msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":531,"y":428,"wires":[["a02f798c.dcdf18","46e17b3e.8a4e74"]]},{"id":"1e1695c6.731faa","type":"json","z":"1060484f.2ded88","name":"","x":327,"y":426,"wires":[["e58059bb.c4d8c8"]]},{"id":"9f754fc6.dc218","type":"inject","z":"1060484f.2ded88","name":"Test injection","topic":"testvalue","payload":"{\"energy\": \"8666.37\", \"power\": \"49286.5754541\", \"time\": \"1466507173.500\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.5,"y":427,"wires":[["1e1695c6.731faa"]]}]
